.main-content {
  margin-left: 220px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: calc(100vw - 220px);
  align-items: start;
}

.content {
  flex: 1;
  display: flex;
  /* justify-content: space-around; */
  padding-top: 60px;
  /* espacio para el header fijo */
  box-sizing: border-box;
  width: 100%;
  min-height: 0;
  min-width: 0;
  overflow: visible;
}