@import "@progress/kendo-theme-default/dist/all.css";

.customers-view {
  width: 100%;
  max-width: 100%;
  padding: 20px 35px 0 27px;
  overflow-x: hidden;
}

/* Header */
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-row h1 {
  font-size: 24px;
  font-weight: 600;
  color: #2D3748;
  padding: 0;
  margin: 0;
}

/* Toolbar */
.k-toolbar {
  background-color: transparent;
  padding: 0;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  /* Los hijos se van a los extremos */
  align-items: center;
  /* Centrado vertical */
  width: 100%;
  padding: 20px 0px;
  /* Opcional */
}

/* Buttons toolbar */
.toolbar-actions .k-button {
  padding: 8px 12px;
}

.toolbar-actions .k-button .button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

/* Tamaño del ícono */
.toolbar-actions .k-button .button-content img {
  width: 20px;
  height: 20px;
  display: block;
}

.grid-wrapper {
  overflow-x: auto;
  width: 100%;
}

/* Búsqueda dentro del toolbar */
.search-box {
  display: flex;
  align-items: center;
  background-color: #EDF2F7;
  border-radius: 4px;
  padding: 4px 8px;
  width: 200px;
}

.search-box .k-icon {
  margin-right: 8px;
  color: #000000;
}

.search-box .k-input {
  border: none;
  background: transparent;
  color: #000000;
  outline: none;
  width: 100%;
}